<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}


<!-- Image to hack wechat -->
<img src="/img/apple-touch-icon.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

<!---尝试添加音乐播放器
需要Markdown外链
格式：
<p>音乐外链url</p>--->
<script src="/js/jsquery.min.js"></script>
{% include open-embed.html %}

</body>

</html>
